<% provide(:title, "About") %>

<h1>About</h1>
<p>
  San Antonio Poker Club is work in progress. We are going to offer multiple poker locations for your convenience. We are also currently working on user profiles, your favorite venues history page, poker hand history analysis, articles, quizess, learning material, message board for you to talk to and make friends with other poker players located in San Antonio and other cool features! This website is being developed in Ruby on Rails.

  <br />
  <br />Expected release date Fall 2015. Stay tuned!
</p>
