<% provide(:title, "Help") %>

<h1>Help</h1>
<p>
  Looking for help or more information? Visit <a href="http://ferz.co/">www.ferz.co</a> for more information about San Antonio Poker Club, feedback and updates!
</p>
