<footer class="footer">
  <small>
    The <a href="http://www.sanantoniopoker.net/">San Antonio Poker Club</a>
    by <a href="http://www.ferz.co/">www.ferz.co</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://ferz.co/">News</a></li>
    </ul>
  </nav>
</footer>